* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body,
html {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navbar {
    width: 100%;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
}

.navbar a {
    color: #303030;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    padding: 10px;
}

.navbar img {
    width: 20px;
    height: 20px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.image-section {
    flex: 1;
    background-image: url('img/image\ 5.png');
    background-size: cover;
    background-position: center;
    height: 100%;
}

.form-section {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9f9f9;
}

.login-form {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 470px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

.inp {
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-around;
    align-items: center;
    border: 1px solid gray;
    border-width: 0 0 2px 0;
    border-color: #E0E0E0;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    font-size: 16px;
    direction: rtl;
    border: none;
    outline: none;
}

.login-form input[type="text"],
.login-form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 12px 0;
    font-size: 16px;
    direction: rtl;
    border: none;
    outline: none;
}

.login-form form {
    margin-top: 70px;
}

.login-form .sub {
    padding: 10px 3px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #242424;
    color: #fff;
    cursor: pointer;
    min-width: 230px;
    border: none;
}

.login-form .subm {
    padding: 10px 3px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 400;
    background-color: #242424;
    color: #fff;
    cursor: pointer;
    min-width: 230px;
    border: none;
}

.login-form .end {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #000;
}

.inp img {
    position: relative;
    height: 20px;
    top: 10px;
}

.login-form .par-1 {
    font-size: 20px;
    font-weight: 700;
    color: #242424;
    direction: rtl;
    position: absolute;
    top: 10px;
    right: 20px;
    color: #333;
}

.login-form .par-2 {
    font-size: 20px;
    font-weight: 400;
    color: #242424;
    direction: rtl;
    position: absolute;
    top: 40px;
    right: 20px;
    color: #333;
}

@media only screen and (min-width: 1025px) {
    .navbar {
        display: none;
    }

    .login-form .subm {
        display: none;
    }

    .form-section .par-3 {
        display: none;
    }
}

@media (max-width: 680px) {
    .container {
        flex-direction: column;
    }

    .form-section {
        width: 100%;
        height: 100vh;
    }

    .login-form {
        padding-top: 60px;
        margin: 0 15px !important;
    }

    .form-section .par-3{
        position: absolute;
        top: 130px;
        right: 20px;
        text-align: right;
    }

    .form-section .par-3 {
        font-size: 30px;
        font-weight: 700;
        color: #303030;
    }

    @media (max-width: 345px) {
        .login-form {
            margin: 0 10px;
        }
    }

    .login-form .par-1 {
        display: none;
    }

    .login-form .par-2 {
        display: none;
    }

    .login-form form {
        margin-top: 0;
    }

    .login-form .sub {
        display: none;
    }

    .image-section {
        display: none;
    }

    .login-form {
        position: relative;
        width: 100%;
        max-width: 300px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
    }
}

@media (max-width: 1024px) and (min-width: 680px) {

    .login-form .par-1 {
        display: none;
    }

    .login-form .par-2 {
        display: none;
    }

    .login-form form {
        margin-top: 0;
    }

    .login-form .sub {
        display: none;
    }

    .login-form input[type="text"],
    .login-form input[type="password"] {
        width: 100%;
        padding-right: 12px;
        /* فاصله از سمت راست */
        /* padding-top: 12px; */
        /* فاصله از بالا */

        /* فاصله از پایین */
        font-size: 16px;
        direction: rtl;
        border: none;
        outline: none;
        margin-top: 35px;
        position: relative;
        padding-top: -12px;
    }

    .form-section .par-3 {
        position: absolute;
        top: 100px;
        right: 15px;
        font-size: 20px;
        font-weight: 700;
        color: #303030;
    }

    .login-form {
        position: relative;
        width: 100%;
        max-width: 400px;
        height: 470px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        text-align: center;
        top: 20px;
    }

    .inp {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        justify-content: space-around;
        align-items: center;
        border: 1px solid gray;
        border-width: 0 0 2px 0;
        border-color: #E0E0E0;
        position: relative;
        top: -30px;
    }

    .login-form .subm {
        padding: 10px 3px;
        border-radius: 8px;
        margin-top: 10px;
        font-size: 18px;
        font-weight: 400;
        background-color: #242424;
        color: #fff;
        cursor: pointer;
        min-width: 230px;
        border: none;
    }

    .inp img {
        position: relative;
        height: 20px;
        top: 20px;
    }

    .image-section {
        width: 33.33%;
        flex: none;
    }

    .navbar {
        display: none;
    }

    .form-section .par-3 {
        display: none;
    }
}